<form class="confirm-leaving page-wrapper" name="form" novalidate ng-controller="userDetails" ng-submit="save()">
    <div class="page-header">
        <h1 class="page-title">
            <ol class="breadcrumb">
                <li><span class="icon fa fa-gear fa-fw"></span><a ui-sref="settings" ng-bind="'SETTINGS' | translate"></a></li>
                <li ng-if="state !== 'profile'"><a ui-sref="users" ng-bind="'USERS' | translate"></a></li>
                <li ng-if="state !== 'profile'" ng-bind="state === 'create' ? ('CREATE_USER' | translate) : user.email"></li>
                <li ng-if="state === 'profile'" ng-bind="'PROFILE' | translate"></li>
            </ol>
        </h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-danger" ng-if="state === 'details' && user.canDelete()" ng-click="delete()">
                <i class="icon fa fa-trash fa-fw"></i> <span class="hidden-xs" ng-bind="'BUTTON_DELETE' | translate"></span>
            </button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine" ng-if="(state === 'create' && user.canCreate()) || (state === 'details' && user.canEdit()) || state === 'profile'">
                <i class="icon fa fa-floppy-o fa-fw"></i> <span class="hidden-xs" ng-bind="'BUTTON_SAVE' | translate"></span>
            </button>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-4">
                <h4 ng-bind="'ACCOUNT_INFO_HEAD' | translate"></h4>
                <p ng-bind="'ACCOUNT_INFO_DESC' | translate"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-6" ng-class="{'has-error': form.$submitted && (form.email.$invalid || validationErrors.email)}">
                                <label class="control-label" for="email" ng-bind="'EMAIL' | translate"></label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{'EMAIL' | translate}}" ng-model="user.email" maxlength="256" autofocus ng-disabled="state !== 'create' && user.isProtected">
                                <small class="help-block" ng-if="form.$submitted && form.email.$error.required" ng-bind="'VALIDATION_REQUIRED' | translate"></small>
                                <small class="help-block" ng-if="form.$submitted && form.email.$error.email" ng-bind="'VALIDATION_EMAIL' | translate"></small>
                                <small class="help-block" ng-if="form.$submitted && validationErrors.email" ng-bind="validationErrors.email"></small>
                            </div>
                            <!-- user password -->
                            <div class="col-sm-6" ng-class="{'has-error': form.$submitted && (form.password.$invalid || validationErrors.password)}" ng-if="state === 'create'">
                                <label class="control-label" for="password" ng-bind="'PASSWORD' | translate"></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="{{'PASSWORD' | translate}}" ng-model="user.password" minlength="6" maxlength="256" required>
                                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind="'VALIDATION_REQUIRED' | translate"></small>
                                <small class="help-block" ng-if="form.$submitted && form.password.$error.minlength" ng-bind="'VALIDATION_MINLENGTH' | translate: [6]"></small>
                                <small class="help-block" ng-if="form.$submitted && validationErrors.password" ng-bind="validationErrors.password"></small>
                            </div>
                            <div class="col-sm-6" ng-if="state === 'profile'">
                                <label class="control-label" ng-bind="'PASSWORD' | translate"></label>
                                <p class="form-control-static">
                                    <a href="javascript:void(0)" ng-click="changePassword()" ng-bind="'BUTTON_CHANGE_PASSWORD' | translate"></a>
                                </p>
                            </div>
                            <!-- user group -->
                            <div class="col-sm-6" ng-class="{'margin-top-20': state === 'create', 'has-error': form.$submitted && (form.group.$invalid || validationErrors.group)}" ng-if="state === 'create' || (state === 'details' && user.canEdit())">
                                <label class="control-label" for="group" ng-bind="'GROUP' | translate"></label>
                                <select class="form-control" id="group" name="group" ng-options="group as group.name for group in groups track by group._id" ng-model="user.group">
                                    <option value="" ng-bind="'SELECT_GROUP' | translate"></option>
                                </select>
                                <small class="help-block" ng-if="form.$submitted && validationErrors.group" ng-bind="validationErrors.group"></small>
                            </div>
                            <div class="col-sm-6" ng-if="state === 'details' && !user.canEdit()">
                                <label class="control-label" ng-bind="'GROUP' | translate"></label>
                                <input class="form-control" type="text" ng-model="user.group.name" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>