<span class="inline-block dropup" dropdown>
    <a class="flag-icon flag-icon-{{vm.locale}}" href="javascript:void(0)" aria-expanded="false" dropdown-toggle></a>
    <ul class="dropdown-menu bullet" aria-labelledby="language" role="menu" style="margin-left: -10px;">
        <li role="presentation" ng-repeat="language in vm.languages track by language.key">
            <a href="javascript:void(0)" role="menuitem" ng-click="vm.switch(language.key, true)"><span class="flag-icon {{language.icon}}"></span> {{language.name}}</a>
        </li>
    </ul>
</span>