<form class="confirm-leaving" name="form" novalidate ng-submit="vm.save(form)">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()">
	        <span aria-hidden="true">×</span>
	    </button>
	    <h4 class="modal-title" ng-bind-transl="'CHANGE_PASSWORD'"></h4>
	</div>
	<div class="modal-body">
        <div class="form-group row margin-bottom-0">
            <div class="col-sm-6" ng-class="{'has-error': form.$submitted && (form.password.$invalid || vm.validationErrors.password)}">
                <label class="control-label" for="password" ng-bind-transl="'NEW_PASSWORD'"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder-transl="'NEW_PASSWORD'" autofocus ng-model="vm.user.password" required minlength="6" maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.password.$error.minlength" ng-bind-transl="'VALIDATION_MINLENGTH:[6]'"></small>
                <small class="help-block" ng-if="form.$submitted && vm.validationErrors.password" ng-bind="vm.validationErrors.password"></small>
            </div>
            <div class="col-sm-6" ng-class="{'has-error': form.$submitted && (form.confirmPassword.$invalid || vm.validationErrors.confirmPassword)}">
                <label class="control-label" for="confirm-password" ng-bind-transl="'CONFIRM_PASSWORD'"></label>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder-transl="'CONFIRM_PASSWORD'" ng-model="vm.user.confirmPassword" required minlength="6" maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.confirmPassword.$error.minlength" ng-bind-transl="'VALIDATION_MINLENGTH:[6]'"></small>
                <small class="help-block" ng-if="form.$submitted && vm.validationErrors.confirmPassword" ng-bind="vm.validationErrors.confirmPassword"></small>
            </div>
        </div>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-default btn-outline pull-left" data-dismiss="modal" ng-click="vm.cancel()" ng-bind-transl="'BUTTON_CLOSE'"></button>
	    <button type="submit" class="btn btn-primary" ng-disabled="!form.$dirty" ng-bind-transl="'BUTTON_SAVE'"></button>
	</div>
</form>