<nav class="site-navbar navbar navbar-default navbar-fixed-top" role="navigation" ng-if="USER.isLoggedin() && !hiddenSidebar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" toggle-site-menubar>
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-center">
            <logo class="navbar-brand-logo" color="white"></logo>
            <span class="navbar-brand-text" ng-bind="APP.title"></span>
        </div>
    </div>
</nav>