<div class="page-content" ng-init="init()">
    <div class="page-auth-main">
        <auth-page-header heading-text="'FORGOT_PASSWORD'" sub-text="'FORGOT_PASSWORD_DESC'"></auth-page-header>

        <form id="formForgotPassword" name="form" novalidate ng-submit="forgotPassword(form)">
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.email.$invalid || validationErrors.email)}">
                <label class="sr-only" for="inputEmail" ng-bind-transl="'EMAIL'"></label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder-transl="'EMAIL'" autofocus ng-model="auth.email" required maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.email.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.email.$error.email" ng-bind-transl="'VALIDATION_EMAIL'"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors.email" ng-bind="validationErrors.email"></small>
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-bind-transl="'BUTTON_RESET_PASSWORD'"></button>
        </form>
        <p><a ui-sref="login"><i class="fa fa-angle-double-left"></i> <span ng-bind-transl="'BUTTON_BACK_TO_LOGIN'"></span></a></p>
        
        <auth-page-footer></auth-page-footer>
    </div>
</div>