<form class="confirm-leaving page-wrapper" name="form" novalidate ng-controller="groupDetails" ng-submit="save()">
    <div class="page-header">
        <h1 class="page-title">
            <ol class="breadcrumb">
                <li><span class="icon fa fa-gear fa-fw"></span><a ui-sref="settings" ng-bind="'SETTINGS' | translate"></a></li>
                <li><a ui-sref="groups" ng-bind="'GROUPS' | translate"></a></li>
                <li ng-bind="state === 'create' ? ('CREATE_GROUP' | translate) : group.name"></li>
            </ol>
        </h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-danger" ng-if="state === 'details' && group.canDelete()" ng-click="delete()">
                <i class="icon fa fa-trash fa-fw"></i> <span class="hidden-xs" ng-bind="'BUTTON_DELETE' | translate"></span>
            </button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine" ng-if="(state === 'create' && group.canCreate()) || group.canEdit()">
                <i class="icon fa fa-floppy-o fa-fw"></i> <span class="hidden-xs" ng-bind="'BUTTON_SAVE' | translate"></span>
            </button>
        </div>
    </div>
    <div class="page-content">
        <div class="row margin-bottom-30">
            <div class="col-md-4">
                <h4 ng-bind="'GROUP_INFO_HEAD' | translate"></h4>
                <p ng-bind="'GROUP_INFO_DESC' | translate"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error': form.$submitted && (form.name.$invalid || validationErrors.name)}">
                            <label class="control-label" for="name" ng-bind="'NAME' | translate"></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="{{'NAME' | translate}}" ng-model="group.name" maxlength="256" autofocus ng-disabled="!group.canEdit()">
                            <small class="help-block" ng-if="form.$submitted && form.name.$error.required" ng-bind="'VALIDATION_REQUIRED' | translate"></small>
                            <small class="help-block" ng-if="form.$submitted && validationErrors.name" ng-bind="validationErrors.name"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- permissions list -->
        <div class="row" ng-class="{'margin-bottom-30': state === 'details'}">
            <div class="col-md-4">
                <h4 ng-bind="'GROUP_PERMISSIONS_HEAD' | translate"></h4>
                <p ng-bind="'GROUP_PERMISSIONS_DESC' | translate"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="item in permissions track by $index">
                            <label class="control-label" ng-bind="item.resource | translate"></label>
                            <ul class="list-unstyled list-inline">
                                <li ng-repeat="permission in item.permissions track by $index">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="{{item.resource + permission}}" checklist-model="group.permissions[item.resource]" checklist-value="permission" ng-disabled="!group.canEdit()">
                                        <label for="{{item.resource + permission}}" ng-bind="permission | translate"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- users list -->
        <div class="row" ng-if="state === 'details'">
            <div class="col-md-4">
                <h4 ng-bind="'GROUP_USERS_HEAD' | translate"></h4>
                <p ng-bind="'GROUP_USERS_DESC' | translate"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" ng-class="{'margin-bottom-0': users.length > 0}">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th ng-bind="'USER' | translate" sort-by="email"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users track by user._id">
                                        <td ng-bind="$index + 1"></td>
                                        <td>
                                            <a ui-sref="userDetails({userId: user._id})" ng-bind="user.email"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center" ng-if="users.length === 0" ng-bind="'NO_RESULTS' | translate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>