<form class="confirm-leaving page-wrapper" name="form" novalidate ng-submit="vm.save()">
    <div class="page-header">
        <h1 class="page-title">
            <ol class="breadcrumb">
                <li><span class="icon fa fa-gear fa-fw"></span><a ui-sref="settings" ng-bind-transl="'SETTINGS'"></a></li>
                <li><a ui-sref="groups" ng-bind-transl="'GROUPS'"></a></li>
                <li>
                    <span ng-bind-transl="'CREATE_GROUP'" ng-if="vm.state === 'create'"></span>
                    <span ng-bind="vm.group.name" ng-if="vm.state === 'details'"></span>
                </li>
            </ol>
        </h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-danger" ng-if="vm.state === 'details' && vm.group.canDelete()" ng-click="vm.delete()">
                <i class="icon fa fa-trash fa-fw"></i> <span class="hidden-xs" ng-bind-transl="'BUTTON_DELETE'"></span>
            </button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine" ng-if="(vm.state === 'create' && vm.group.canCreate()) || vm.group.canEdit()">
                <i class="icon fa fa-floppy-o fa-fw"></i> <span class="hidden-xs" ng-bind-transl="'BUTTON_SAVE'"></span>
            </button>
        </div>
    </div>
    <div class="page-content">
        <div class="row margin-bottom-30">
            <div class="col-md-4">
                <h4 ng-bind-transl="'GROUP_INFO_HEAD'"></h4>
                <p ng-bind-transl="'GROUP_INFO_DESC'"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error': form.$submitted && (form.name.$invalid || vm.validationErrors.name)}">
                            <label class="control-label" for="name" ng-bind-transl="'NAME'"></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder-transl="'NAME'" ng-model="vm.group.name" maxlength="256" autofocus ng-disabled="!vm.group.canEdit()">
                            <small class="help-block" ng-if="form.$submitted && form.name.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                            <small class="help-block" ng-if="form.$submitted && vm.validationErrors.name" ng-bind="vm.validationErrors.name"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- permissions list -->
        <div class="row" ng-class="{'margin-bottom-30': vm.state === 'details'}">
            <div class="col-md-4">
                <h4 ng-bind-transl="'GROUP_PERMISSIONS_HEAD'"></h4>
                <p ng-bind-transl="'GROUP_PERMISSIONS_DESC'"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="item in vm.permissions track by $index">
                            <label class="control-label" ng-bind-transl="item.resource"></label>
                            <ul class="list-unstyled list-inline">
                                <li ng-repeat="permission in item.permissions track by $index">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="{{item.resource + permission}}" checklist-model="vm.group.permissions[item.resource]" checklist-value="permission" ng-disabled="!vm.group.canEdit()">
                                        <label for="{{item.resource + permission}}" ng-bind="permission"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- users list -->
        <div class="row" ng-if="vm.state === 'details'">
            <div class="col-md-4">
                <h4 ng-bind-transl="'GROUP_USERS_HEAD'"></h4>
                <p ng-bind-transl="'GROUP_USERS_DESC'"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" ng-class="{'margin-bottom-0': vm.users.length > 0}">
                                <thead>
                                    <tr>
                                        <th class="width-50">#</th>
                                        <th ng-bind-transl="'USER'" sort-by="email"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in vm.users track by user._id">
                                        <td ng-bind="$index + 1"></td>
                                        <td>
                                            <a ui-sref="userDetails({userId: user._id})" ng-bind="user.email"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center" ng-if="vm.users.length === 0" ng-bind-transl="'NO_RESULTS'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>