<form class="confirm-leaving page-wrapper" name="form" novalidate ng-submit="vm.save(form)">
    <div class="page-header">
        <h1 class="page-title">
            <ol class="breadcrumb">
                <li><span class="icon fa fa-gear fa-fw"></span><a ui-sref="settings" ng-bind-transl="'SETTINGS'"></a></li>
                <li>
                    <span ng-bind-transl="'CREATE_SETTING'" ng-if="vm.state === 'create'"></span>
                    <span ng-bind="vm.setting.key" ng-if="vm.state === 'details'"></span>
                </li>
            </ol>
        </h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-danger" ng-if="vm.state === 'details' && vm.setting.canDelete()" ng-click="vm.delete(form)">
                <i class="icon fa fa-trash fa-fw"></i> <span class="hidden-xs" ng-bind-transl="'BUTTON_DELETE'"></span>
            </button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine" ng-if="(vm.state === 'create' && vm.setting.canCreate()) || vm.setting.canEdit()">
                <i class="icon fa fa-floppy-o fa-fw"></i> <span class="hidden-xs" ng-bind-transl="'BUTTON_SAVE'"></span>
            </button>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-4">
                <h4 ng-bind-transl="'SETTING_INFO_HEAD'"></h4>
                <p ng-bind-transl="'SETTING_INFO_DESC'"></p>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-6" ng-class="{'has-error': form.$submitted && (form.key.$invalid || vm.validationErrors.key)}">
                                <label class="control-label" for="key" ng-bind-transl="'KEY'"></label>
                                <input type="text" class="form-control" id="key" name="key" placeholder-transl="'KEY'" ng-model="vm.setting.key" maxlength="256" autofocus ng-disabled="!vm.setting.canEdit()">
                                <small class="help-block" ng-if="form.$submitted && form.key.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                                <small class="help-block" ng-if="form.$submitted && vm.validationErrors.key" ng-bind="vm.validationErrors.key"></small>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="type" ng-bind-transl="'DATA_TYPE'"></label>
                                <select class="form-control" id="type" ng-options="type as type for type in ['number', 'text', 'JSON']" ng-model="vm.selectedType" ng-disabled="!vm.setting.canEdit()"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': form.$submitted && (form.value.$invalid || vm.validationErrors.value)}">
                            <label class="control-label" for="value" ng-bind-transl="'VALUE'"></label>
                            <textarea class="form-control" ng-model="vm.tmpValue" rows="5" placeholder-transl="'VALUE'" ng-disabled="!vm.setting.canEdit()"></textarea>
                            <small class="help-block" ng-if="form.$submitted && vm.validationErrors.value" ng-bind="vm.validationErrors.value"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>