<div class="page-content">
    <div class="page-auth-main">
        <auth-page-header heading-text="'RESET_PASSWORD'" sub-text="'RESET_PASSWORD_DESC'"></auth-page-header>

        <form id="formSignup" name="form" novalidate ng-submit="resetPassword(form)">
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.password.$invalid || validationErrors.password)}">
                <label class="sr-only" for="password" ng-bind-transl="'NEW_PASSWORD'"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder-transl="'NEW_PASSWORD'" autofocus ng-model="auth.password" required minlength="6" maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.password.$error.minlength" ng-bind-transl="'VALIDATION_MINLENGTH:[6]'"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors.password" ng-bind="validationErrors.password"></small>
            </div>
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.confirmPassword.$invalid || validationErrors.confirmPassword)}">
                <label class="sr-only" for="confirm-password" ng-bind-transl="'CONFIRM_PASSWORD'"></label>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder-transl="'CONFIRM_PASSWORD'" ng-model="auth.confirmPassword" required minlength="6" maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.confirmPassword.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.confirmPassword.$error.minlength" ng-bind-transl="'VALIDATION_MINLENGTH:[6]'"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors.confirmPassword" ng-bind="validationErrors.confirmPassword"></small>
            </div>
            <p class="text-danger" ng-if="form.$submitted && validationErrors.token" ng-bind="validationErrors.token"></p>
            <button type="submit" class="btn btn-primary btn-block" ng-bind-transl="'BUTTON_SAVE'"></button>
        </form>
        
        <auth-page-footer></auth-page-footer>
    </div>
</div>