<div class="page-content" ng-controller="login">
    <div class="page-auth-main">
        <auth-page-header heading-text="'LOGIN' | translate" sub-text="'LOGIN_DESC' | translate"></auth-page-header>

        <!-- login form -->
        <form name="form" novalidate ng-submit="login(form)">
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.login.$invalid || validationErrors)}">
                <label class="sr-only" for="inputLogin" ng-bind="'LOGIN_USERNAME' | translate"></label>
                <input type="email" class="form-control" id="inputLogin" name="login" placeholder="{{'LOGIN_USERNAME' | translate}}" autofocus ng-model="auth.login" required maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.login.$error.required" ng-bind="'VALIDATION_REQUIRED' | translate"></small>
                <small class="help-block" ng-if="form.$submitted && form.login.$error.email" ng-bind="'VALIDATION_EMAIL' | translate"></small>
            </div>
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.password.$invalid || validationErrors)}">
                <label class="sr-only" for="inputPassword" ng-bind="'PASSWORD' | translate"></label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="{{'PASSWORD' | translate}}" ng-model="auth.password" required maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind="'VALIDATION_REQUIRED' | translate"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors" ng-bind="validationErrors"></small>
            </div>
            <div>
                <a ui-sref="forgot-password" ng-bind="'FORGOT_PASSWORD_QUESTION' | translate"></a>
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-bind="'BUTTON_LOGIN' | translate"></button>
        </form>
        <p>{{'NEED_AN_ACCOUNT_QUESTION' | translate}} <a ui-sref="signup" ng-bind="'BUTTON_SIGN_UP' | translate"></a></p>
        <!-- end login form -->

        <auth-page-footer></auth-page-footer>
    </div>
</div>