<div class="page-content" ng-controller="signup">
    <div class="page-auth-main">
        <auth-page-header heading-text="'SIGN_UP'" sub-text="'SIGN_UP_DESC'"></auth-page-header>

        <form id="form" name="form" novalidate ng-submit="signup(form)">
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.email.$invalid || validationErrors.email)}">
                <label class="sr-only" for="inputEmail" ng-bind-transl="'EMAIL'"></label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder-transl="'EMAIL'" ng-model="auth.email" required maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.email.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.email.$error.email" ng-bind-transl="'VALIDATION_EMAIL'"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors.email" ng-bind="validationErrors.email"></small>
            </div>
            <div class="form-group" ng-class="{'has-error': form.$submitted && (form.password.$invalid || validationErrors.password)}">
                <label class="sr-only" for="inputPassword" ng-bind-transl="'PASSWORD'"></label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder-transl="'PASSWORD'" ng-model="auth.password" required minlength="6" maxlength="256">
                <small class="help-block" ng-if="form.$submitted && form.password.$error.required" ng-bind-transl="'VALIDATION_REQUIRED'"></small>
                <small class="help-block" ng-if="form.$submitted && form.password.$error.minlength" ng-bind-transl="'VALIDATION_MINLENGTH:[6]'"></small>
                <small class="help-block" ng-if="form.$submitted && validationErrors.password" ng-bind="validationErrors.password"></small>
            </div>
            <div class="form-group">
                <span ng-bind-transl="'BY_CLICKING_SIGNUP_YOU_AGREE_OUR'"></span>
                <a href="#" ng-bind-transl="'TERMS'"></a> <span ng-bind-transl="'AND'"></span> <a href="#" ng-bind-transl="'POLICIES'"></a>.
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-bind-transl="'BUTTON_SIGN_UP'"></button>
        </form>
        <p><span ng-bind-transl="'HAVE_AN_ACCOUNT_GO_BACK'"></span> <a ui-sref="login" ng-bind-transl="'BUTTON_LOGIN'"></a></p>

        <auth-page-footer></auth-page-footer>
    </div>
</div>